<div mat-dialog-title class="bg-indigo-100">
    <h2>Work Item Form</h2>
</div>
<form [formGroup]="workItemForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content >
        <div class="flex">
            <mat-form-field class="flex-auto">
                <mat-label>Title</mat-label>
                <input matInput type="text" placeholder="Ex. ERP bug 32" formControlName="workTitle">
            </mat-form-field>

            <mat-form-field class="flex-1 ms-3">
                <mat-label>Type</mat-label>
                <mat-select formControlName="workItemType">
                    <mat-option *ngFor="let typeValue of types" [value]="typeValue">
                        <p class="text-sm">{{typeValue}}</p>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-1  ms-3">
                <mat-label>Assign To</mat-label>
                <mat-select formControlName="assignWorkItem">
                    <mat-option *ngFor="let user of users" [value]="user">
                        <p class="text-xs">{{user}}</p>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex">
            <editor class="flex-auto" matInput formControlName="description" apiKey="csdexu1qabwcci5rgmcl3y4ovtv2vfvdmql8bh234oqtceyb" [init]="{ 
                base_url: '/tinymce',
                suffix: '.min',
                plugins: 'lists link image table code help wordcount',
                menubar: false,
                min_height: 150
            }"
            ></editor>
        </div>
    </div>
    <div mat-dialog-actions class="action flex">
        <button mat-raised-button class="p-3 flex-1 mx-4 bg-indigo-300 rounded-md" type="button" mat-dialog-close="false">Cancel</button>
        <button mat-raised-button class="p-3 flex-1 me-4 bg-indigo-900 text-white rounded-md"  color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
    </div>
    <app-loading *ngIf="loading"></app-loading>
</form>
